<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="92326f95641f475caf5b01d225edaec4" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_92326f95641f475caf5b01d225edaec4 = echarts.init(
            document.getElementById('92326f95641f475caf5b01d225edaec4'), 'white', {renderer: 'canvas'});
        var option_92326f95641f475caf5b01d225edaec4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
            "legendHoverLink": true,
            "data": [
                42.7,
                55.8,
                45.5,
                66.3,
                26.4,
                23.1,
                46.1,
                19.1,
                29.1,
                28.8,
                13.3,
                30.2,
                14.5,
                21.8,
                26.2,
                23.9,
                26.1,
                22.0,
                18.2
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
            ],
            "selected": {
                "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "name": "\u57ce\u5e02\u540d\u79f0",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac\u5e02",
                "\u4e0a\u6d77\u5e02",
                "\u5e7f\u5dde\u5e02",
                "\u6df1\u5733\u5e02",
                "\u6210\u90fd\u5e02",
                "\u91cd\u5e86\u5e02",
                "\u676d\u5dde\u5e02",
                "\u897f\u5b89\u5e02",
                "\u6b66\u6c49\u5e02",
                "\u82cf\u5dde\u5e02",
                "\u90d1\u5dde\u5e02",
                "\u5357\u4eac\u5e02",
                "\u5929\u6d25\u5e02",
                "\u957f\u6c99\u5e02",
                "\u4e1c\u839e\u5e02",
                "\u5b81\u6ce2\u5e02",
                "\u4f5b\u5c71\u5e02",
                "\u5408\u80a5\u5e02",
                "\u9752\u5c9b\u5e02"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_92326f95641f475caf5b01d225edaec4.setOption(option_92326f95641f475caf5b01d225edaec4);
    </script>
</body>
</html>
