asgiref==3.6.0
Django==4.0
django-cors-headers==3.14.0
echarts-china-cities-pypkg==0.0.9
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.3
echarts-cities-pypkg==0.0.1
echarts-countries-pypkg==0.1.6
echarts-united-kingdom-pypkg==0.0.1
Jinja2==3.1.2
lml==0.0.2
MarkupSafe==2.1.2
prettytable==3.6.0
psycopg2==2.9.5
pyecharts==2.0.2
pyecharts-jupyter-installer==0.0.3
simplejson==3.18.3
sqlparse==0.4.3
wcwidth==0.2.6
