<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/neimenggu.js"></script>

</head>
<body οnresize="resizeFresh()">  <!-- 添加刷新函数调用 -->
<style type="text/css">
    html,body{
        height:100%;
        width:100%
    }
</style>
    <div id="994c19cef6b44d6cb5fb0b6b8a3cff7b" class="chart-container" style="width:75%; height:75%; margin:auto; top:30px"></div>

    <script>
        var chart_994c19cef6b44d6cb5fb0b6b8a3cff7b = echarts.init(
            document.getElementById('994c19cef6b44d6cb5fb0b6b8a3cff7b'), 'white', {renderer: 'canvas'});
        var option_994c19cef6b44d6cb5fb0b6b8a3cff7b = {
    "baseOption": {
        "series": [
            {
                "type": "map",
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                "label": {
                    "show": false,
                    "margin": 8
                },
                "map": "\u5185\u8499\u53e4",
                "data": [
                    {
                        "value": 0
                    },
                    {
                        "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                        "value": 1.0
                    },
                    {
                        "name": "\u4e4c\u6d77\u5e02",
                        "value": 1.0
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "mapValueCalculation": "sum",
                "showLegendSymbol": false,
                "emphasis": {},
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "currentIndex": 0,
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "playInterval": 1000,
            "bottom": "-5px",
            "progress": {},
            "data": [
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ]
        },
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 80,
            "text": [
                "High",
                "Low"
            ],
            "inRange": {
                "color": [
                    "#E0E0E0",
                    "#CE0000"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "hoverLink": true,
            "orient": "vertical",
            "padding": 5,
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 2.0
                        },
                        {
                            "name": "\u5174\u5b89\u76df",
                            "value": 2.2
                        },
                        {
                            "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                            "value": 1.6
                        },
                        {
                            "name": "\u5305\u5934\u5e02",
                            "value": 3.0
                        },
                        {
                            "name": "\u547c\u4f26\u8d1d\u5c14\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u547c\u548c\u6d69\u7279\u5e02",
                            "value": 3.9
                        },
                        {
                            "name": "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                            "value": 4.2
                        },
                        {
                            "name": "\u8d64\u5cf0\u5e02",
                            "value": 3.1
                        },
                        {
                            "name": "\u901a\u8fbd\u5e02",
                            "value": 5.3
                        },
                        {
                            "name": "\u9102\u5c14\u591a\u65af\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u9521\u6797\u90ed\u52d2\u76df",
                            "value": 2.5
                        },
                        {
                            "name": "\u963f\u62c9\u5584\u76df",
                            "value": 2.8
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 3.9
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u5174\u5b89\u76df",
                            "value": 2.1
                        },
                        {
                            "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u5305\u5934\u5e02",
                            "value": 2.4
                        },
                        {
                            "name": "\u547c\u4f26\u8d1d\u5c14\u5e02",
                            "value": 2.7
                        },
                        {
                            "name": "\u547c\u548c\u6d69\u7279\u5e02",
                            "value": 4.2
                        },
                        {
                            "name": "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                            "value": 3.8
                        },
                        {
                            "name": "\u8d64\u5cf0\u5e02",
                            "value": 2.4
                        },
                        {
                            "name": "\u901a\u8fbd\u5e02",
                            "value": 3.0
                        },
                        {
                            "name": "\u9102\u5c14\u591a\u65af\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u9521\u6797\u90ed\u52d2\u76df",
                            "value": 4.5
                        },
                        {
                            "name": "\u963f\u62c9\u5584\u76df",
                            "value": 6.3
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 3.4
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u5174\u5b89\u76df",
                            "value": 3.1
                        },
                        {
                            "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u5305\u5934\u5e02",
                            "value": 2.0
                        },
                        {
                            "name": "\u547c\u4f26\u8d1d\u5c14\u5e02",
                            "value": 1.5
                        },
                        {
                            "name": "\u547c\u548c\u6d69\u7279\u5e02",
                            "value": 3.4
                        },
                        {
                            "name": "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                            "value": 2.2
                        },
                        {
                            "name": "\u8d64\u5cf0\u5e02",
                            "value": 2.3
                        },
                        {
                            "name": "\u901a\u8fbd\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u9102\u5c14\u591a\u65af\u5e02",
                            "value": 2.3
                        },
                        {
                            "name": "\u9521\u6797\u90ed\u52d2\u76df",
                            "value": 4.3
                        },
                        {
                            "name": "\u963f\u62c9\u5584\u76df",
                            "value": 8.0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 3.4
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u5174\u5b89\u76df",
                            "value": 1.8
                        },
                        {
                            "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                            "value": 1.4
                        },
                        {
                            "name": "\u5305\u5934\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u547c\u4f26\u8d1d\u5c14\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u547c\u548c\u6d69\u7279\u5e02",
                            "value": 3.1
                        },
                        {
                            "name": "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u8d64\u5cf0\u5e02",
                            "value": 1.7
                        },
                        {
                            "name": "\u901a\u8fbd\u5e02",
                            "value": 2.4
                        },
                        {
                            "name": "\u9102\u5c14\u591a\u65af\u5e02",
                            "value": 2.0
                        },
                        {
                            "name": "\u9521\u6797\u90ed\u52d2\u76df",
                            "value": 3.4
                        },
                        {
                            "name": "\u963f\u62c9\u5584\u76df",
                            "value": 1.1
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 1.8
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 3.0
                        },
                        {
                            "name": "\u5174\u5b89\u76df",
                            "value": 3.5
                        },
                        {
                            "name": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u5305\u5934\u5e02",
                            "value": 2.5
                        },
                        {
                            "name": "\u547c\u4f26\u8d1d\u5c14\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u547c\u548c\u6d69\u7279\u5e02",
                            "value": 3.2
                        },
                        {
                            "name": "\u5df4\u5f66\u6dd6\u5c14\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u8d64\u5cf0\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u901a\u8fbd\u5e02",
                            "value": 6.0
                        },
                        {
                            "name": "\u9102\u5c14\u591a\u65af\u5e02",
                            "value": 2.4
                        },
                        {
                            "name": "\u9521\u6797\u90ed\u52d2\u76df",
                            "value": 4.5
                        },
                        {
                            "name": "\u963f\u62c9\u5584\u76df",
                            "value": 2.3
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5185\u8499\u53e4",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u5170\u5bdf\u5e03\u5e02",
                            "value": 1.0
                        },
                        {
                            "name": "\u4e4c\u6d77\u5e02",
                            "value": 1.0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5185\u8499\u53e4\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        }
    ]
};
        chart_994c19cef6b44d6cb5fb0b6b8a3cff7b.setOption(option_994c19cef6b44d6cb5fb0b6b8a3cff7b);
    </script>
    <script>
         //窗口大小变化时候，进行刷新页面操作，防止样式混乱
         var x=window.innerWidth;
     function resizeFresh(){
         if(x!=window.innerWidth)
             location.reload();
     }
    </script>
</body>
</html>

