<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/jilin.js"></script>

</head>
<body οnresize="resizeFresh()">  <!-- 添加刷新函数调用 -->
<style type="text/css">
    html,body{
        height:100%;
        width:100%
    }
</style>
    <div id="ca5f4f40dc944182aca9e476a5f14a32" class="chart-container" style="width:75%; height:75%; margin:auto; top:30px"></div>

    <script>
        var chart_ca5f4f40dc944182aca9e476a5f14a32 = echarts.init(
            document.getElementById('ca5f4f40dc944182aca9e476a5f14a32'), 'white', {renderer: 'canvas'});
        var option_ca5f4f40dc944182aca9e476a5f14a32 = {
    "baseOption": {
        "series": [
            {
                "type": "map",
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                "label": {
                    "show": false,
                    "margin": 8
                },
                "map": "\u5409\u6797",
                "data": [
                    {
                        "value": 0
                    },
                    {
                        "name": "\u5409\u6797\u5e02",
                        "value": 1.4
                    },
                    {
                        "name": "\u56db\u5e73\u5e02",
                        "value": 1.0
                    },
                    {
                        "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                        "value": 2.0
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "mapValueCalculation": "sum",
                "showLegendSymbol": false,
                "emphasis": {},
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "currentIndex": 0,
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "playInterval": 1000,
            "bottom": "-5px",
            "progress": {},
            "data": [
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022"
            ]
        },
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 80,
            "text": [
                "High",
                "Low"
            ],
            "inRange": {
                "color": [
                    "#E0E0E0",
                    "#CE0000"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "hoverLink": true,
            "orient": "vertical",
            "padding": 5,
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 2.2
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 5.6
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 1.5
                        },
                        {
                            "name": "\u677e\u539f\u5e02",
                            "value": 2.8
                        },
                        {
                            "name": "\u767d\u57ce\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u767d\u5c71\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u8fbd\u6e90\u5e02",
                            "value": 2.3
                        },
                        {
                            "name": "\u901a\u5316\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u957f\u6625\u5e02",
                            "value": 6.5
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 3.2
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 2.3
                        },
                        {
                            "name": "\u677e\u539f\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u767d\u57ce\u5e02",
                            "value": 1.8
                        },
                        {
                            "name": "\u767d\u5c71\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u8fbd\u6e90\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u901a\u5316\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u957f\u6625\u5e02",
                            "value": 7.2
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 2.5
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 3.1
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 2.8
                        },
                        {
                            "name": "\u677e\u539f\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u767d\u57ce\u5e02",
                            "value": 3.6
                        },
                        {
                            "name": "\u767d\u5c71\u5e02",
                            "value": 1.8
                        },
                        {
                            "name": "\u8fbd\u6e90\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u901a\u5316\u5e02",
                            "value": 2.5
                        },
                        {
                            "name": "\u957f\u6625\u5e02",
                            "value": 5.0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 1.8
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 2.8
                        },
                        {
                            "name": "\u677e\u539f\u5e02",
                            "value": 1.4
                        },
                        {
                            "name": "\u767d\u57ce\u5e02",
                            "value": 2.7
                        },
                        {
                            "name": "\u767d\u5c71\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u8fbd\u6e90\u5e02",
                            "value": 1.5
                        },
                        {
                            "name": "\u901a\u5316\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u957f\u6625\u5e02",
                            "value": 5.4
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 2.3
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 2.8
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 4.7
                        },
                        {
                            "name": "\u677e\u539f\u5e02",
                            "value": 2.3
                        },
                        {
                            "name": "\u767d\u57ce\u5e02",
                            "value": 9.2
                        },
                        {
                            "name": "\u767d\u5c71\u5e02",
                            "value": 1.2
                        },
                        {
                            "name": "\u8fbd\u6e90\u5e02",
                            "value": 1.4
                        },
                        {
                            "name": "\u901a\u5316\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u957f\u6625\u5e02",
                            "value": 5.7
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5409\u6797",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u5409\u6797\u5e02",
                            "value": 1.4
                        },
                        {
                            "name": "\u56db\u5e73\u5e02",
                            "value": 1.0
                        },
                        {
                            "name": "\u5ef6\u8fb9\u671d\u9c9c\u65cf\u81ea\u6cbb\u5dde",
                            "value": 2.0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5409\u6797\u7701\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        }
    ]
};
        chart_ca5f4f40dc944182aca9e476a5f14a32.setOption(option_ca5f4f40dc944182aca9e476a5f14a32);
    </script>
    <script>
         //窗口大小变化时候，进行刷新页面操作，防止样式混乱
         var x=window.innerWidth;
     function resizeFresh(){
         if(x!=window.innerWidth)
             location.reload();
     }
    </script>
</body>
</html>

