<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/ningxia.js"></script>

</head>
<body >
    <div id="120a4425bf7f4737add56a828e47da9e" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_120a4425bf7f4737add56a828e47da9e = echarts.init(
            document.getElementById('120a4425bf7f4737add56a828e47da9e'), 'white', {renderer: 'canvas'});
        var option_120a4425bf7f4737add56a828e47da9e = {
    "baseOption": {
        "series": [
            {
                "type": "map",
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                "label": {
                    "show": false,
                    "margin": 8
                },
                "map": "\u5b81\u590f",
                "data": [
                    {
                        "value": 0
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "mapValueCalculation": "sum",
                "showLegendSymbol": false,
                "emphasis": {},
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "currentIndex": 0,
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "playInterval": 1000,
            "bottom": "-5px",
            "progress": {},
            "data": [
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ]
        },
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 80,
            "text": [
                "High",
                "Low"
            ],
            "inRange": {
                "color": [
                    "#E0E0E0",
                    "#CE0000"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "hoverLink": true,
            "orient": "vertical",
            "padding": 5,
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e2d\u536b\u5e02",
                            "value": 2.5
                        },
                        {
                            "name": "\u5434\u5fe0\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u56fa\u539f\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u5b81\u590f\u81ea\u6cbb\u533a",
                            "value": 1.8
                        },
                        {
                            "name": "\u77f3\u5634\u5c71\u5e02",
                            "value": 1.7
                        },
                        {
                            "name": "\u94f6\u5ddd\u5e02",
                            "value": 2.8
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e2d\u536b\u5e02",
                            "value": 5.1
                        },
                        {
                            "name": "\u5434\u5fe0\u5e02",
                            "value": 2.1
                        },
                        {
                            "name": "\u56fa\u539f\u5e02",
                            "value": 3.0
                        },
                        {
                            "name": "\u5b81\u590f\u81ea\u6cbb\u533a",
                            "value": 2.0
                        },
                        {
                            "name": "\u77f3\u5634\u5c71\u5e02",
                            "value": 2.2
                        },
                        {
                            "name": "\u94f6\u5ddd\u5e02",
                            "value": 3.7
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e2d\u536b\u5e02",
                            "value": 2.6
                        },
                        {
                            "name": "\u5434\u5fe0\u5e02",
                            "value": 2.2
                        },
                        {
                            "name": "\u56fa\u539f\u5e02",
                            "value": 3.1
                        },
                        {
                            "name": "\u5b81\u590f\u81ea\u6cbb\u533a",
                            "value": 1.4
                        },
                        {
                            "name": "\u77f3\u5634\u5c71\u5e02",
                            "value": 2.5
                        },
                        {
                            "name": "\u94f6\u5ddd\u5e02",
                            "value": 3.9
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e2d\u536b\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u5434\u5fe0\u5e02",
                            "value": 1.5
                        },
                        {
                            "name": "\u56fa\u539f\u5e02",
                            "value": 1.3
                        },
                        {
                            "name": "\u5b81\u590f\u81ea\u6cbb\u533a",
                            "value": 1.4
                        },
                        {
                            "name": "\u77f3\u5634\u5c71\u5e02",
                            "value": 1.4
                        },
                        {
                            "name": "\u94f6\u5ddd\u5e02",
                            "value": 2.9
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e2d\u536b\u5e02",
                            "value": 3.1
                        },
                        {
                            "name": "\u5434\u5fe0\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u56fa\u539f\u5e02",
                            "value": 1.4
                        },
                        {
                            "name": "\u5b81\u590f\u81ea\u6cbb\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u77f3\u5634\u5c71\u5e02",
                            "value": 4.2
                        },
                        {
                            "name": "\u94f6\u5ddd\u5e02",
                            "value": 3.2
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u5b81\u590f",
                    "data": [
                        {
                            "value": 0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        }
    ]
};
        chart_120a4425bf7f4737add56a828e47da9e.setOption(option_120a4425bf7f4737add56a828e47da9e);
    </script>
</body>
</html>
