<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

    <style type="text/css">
        html, body{
            height:100%;
            width:100%
        }
    </style>
</head>
<body onresize="resizeFresh()">
    <div id="b5b15e8f38c54e15a5b4fe8908ee31b8" class="chart-container" style="width:95%; height:95%; margin:auto; top:30px"></div>
    <script>
        var chart_b5b15e8f38c54e15a5b4fe8908ee31b8 = echarts.init(
            document.getElementById('b5b15e8f38c54e15a5b4fe8908ee31b8'), 'white', {renderer: 'canvas'});
        var option_b5b15e8f38c54e15a5b4fe8908ee31b8 = {
    "baseOption": {
        "series": [
            {
                "type": "bar",
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                "legendHoverLink": true,
                "data": [
                    2.0,
                    2.2,
                    2.0,
                    2.3,
                    2.1,
                    4.4,
                    2.4,
                    1.9,
                    3.1,
                    2.0,
                    1.9,
                    2.0,
                    1.6,
                    2.5,
                    1.9,
                    1.9,
                    2.5,
                    2.7,
                    3.4
                ],
                "realtimeSort": false,
                "showBackground": false,
                "stackStrategy": "samesign",
                "cursor": "pointer",
                "barMinHeight": 0,
                "barCategoryGap": "20%",
                "barGap": "30%",
                "large": false,
                "largeThreshold": 400,
                "seriesLayoutBy": "column",
                "datasetIndex": 0,
                "clip": true,
                "zlevel": 0,
                "z": 2,
                "label": {
                    "show": true,
                    "margin": 8
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "currentIndex": 0,
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "playInterval": 1000,
            "bottom": "-5px",
            "progress": {},
            "data": [
                "2017",
                "2018",
                "2019",
                "2020",
                "2021",
                "2022"
            ]
        },
        "xAxis": [
            {
                "name": "\u57ce\u5e02\u540d\u79f0",
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 0,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": true,
                    "lineStyle": {
                        "show": true,
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                },
                "data": [
                    "\u5317\u4eac\u5e02",
                    "\u4e0a\u6d77\u5e02",
                    "\u5e7f\u5dde\u5e02",
                    "\u6df1\u5733\u5e02",
                    "\u6210\u90fd\u5e02",
                    "\u91cd\u5e86\u5e02",
                    "\u676d\u5dde\u5e02",
                    "\u897f\u5b89\u5e02",
                    "\u6b66\u6c49\u5e02",
                    "\u82cf\u5dde\u5e02",
                    "\u90d1\u5dde\u5e02",
                    "\u5357\u4eac\u5e02",
                    "\u5929\u6d25\u5e02",
                    "\u957f\u6c99\u5e02",
                    "\u4e1c\u839e\u5e02",
                    "\u5b81\u6ce2\u5e02",
                    "\u4f5b\u5c71\u5e02",
                    "\u5408\u80a5\u5e02",
                    "\u9752\u5c9b\u5e02"
                ]
            }
        ],
        "yAxis": [
            {
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                "show": true,
                "scale": false,
                "nameLocation": "end",
                "nameGap": 15,
                "gridIndex": 0,
                "inverse": false,
                "offset": 0,
                "splitNumber": 5,
                "minInterval": 0,
                "splitLine": {
                    "show": true,
                    "lineStyle": {
                        "show": true,
                        "width": 1,
                        "opacity": 1,
                        "curveness": 0,
                        "type": "solid"
                    }
                }
            }
        ]
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        23.1,
                        23.6,
                        19.5,
                        28.9,
                        11.5,
                        10.7,
                        20.3,
                        8.0,
                        11.6,
                        13.1,
                        6.5,
                        13.2,
                        7.8,
                        10.5,
                        14.3,
                        11.6,
                        13.1,
                        10.4,
                        8.3
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        23.6,
                        26.9,
                        22.8,
                        33.9,
                        13.9,
                        14.1,
                        24.7,
                        9.4,
                        16.6,
                        16.6,
                        7.8,
                        17.4,
                        8.8,
                        12.4,
                        16.0,
                        13.9,
                        14.6,
                        12.4,
                        9.9
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        13.6,
                        18.2,
                        20.7,
                        23.9,
                        10.8,
                        9.1,
                        17.3,
                        9.1,
                        12.6,
                        12.9,
                        5.2,
                        11.7,
                        6.9,
                        9.6,
                        12.0,
                        9.7,
                        10.6,
                        10.5,
                        8.2
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        12.0,
                        16.0,
                        17.0,
                        21.2,
                        11.2,
                        8.7,
                        15.6,
                        10.1,
                        11.1,
                        11.6,
                        7.3,
                        12.8,
                        6.0,
                        8.9,
                        10.8,
                        9.4,
                        11.4,
                        9.3,
                        8.4
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        15.9,
                        23.1,
                        18.0,
                        27.1,
                        12.2,
                        11.4,
                        20.2,
                        9.2,
                        13.0,
                        14.3,
                        6.5,
                        12.7,
                        7.1,
                        11.0,
                        12.4,
                        11.6,
                        13.7,
                        11.4,
                        11.8
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "bar",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "legendHoverLink": true,
                    "data": [
                        2.0,
                        2.2,
                        2.0,
                        2.3,
                        2.1,
                        4.4,
                        2.4,
                        1.9,
                        3.1,
                        2.0,
                        1.9,
                        2.0,
                        1.6,
                        2.5,
                        1.9,
                        1.9,
                        2.5,
                        2.7,
                        3.4
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": true,
                        "margin": 8
                    }
                }
            ],
            "xAxis": [
                {
                    "name": "\u57ce\u5e02\u540d\u79f0",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5317\u4eac\u5e02",
                        "\u4e0a\u6d77\u5e02",
                        "\u5e7f\u5dde\u5e02",
                        "\u6df1\u5733\u5e02",
                        "\u6210\u90fd\u5e02",
                        "\u91cd\u5e86\u5e02",
                        "\u676d\u5dde\u5e02",
                        "\u897f\u5b89\u5e02",
                        "\u6b66\u6c49\u5e02",
                        "\u82cf\u5dde\u5e02",
                        "\u90d1\u5dde\u5e02",
                        "\u5357\u4eac\u5e02",
                        "\u5929\u6d25\u5e02",
                        "\u957f\u6c99\u5e02",
                        "\u4e1c\u839e\u5e02",
                        "\u5b81\u6ce2\u5e02",
                        "\u4f5b\u5c71\u5e02",
                        "\u5408\u80a5\u5e02",
                        "\u9752\u5c9b\u5e02"
                    ]
                }
            ],
            "yAxis": [
                {
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u4e00\u7ebf/\u65b0\u4e00\u7ebf\u57ce\u5e02\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        }
    ]
};
        chart_b5b15e8f38c54e15a5b4fe8908ee31b8.setOption(option_b5b15e8f38c54e15a5b4fe8908ee31b8);
    </script>
    <script>
         //窗口大小变化时候，进行刷新页面操作，防止样式混乱
         var x=window.innerWidth;
         function resizeFresh(){
             if(x!=window.innerWidth)
                 location.reload();
         }
     </script>
</body>
</html>

