<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/xinjiang.js"></script>

</head>
<body οnresize="resizeFresh()">  <!-- 添加刷新函数调用 -->
<style type="text/css">
    html,body{
        height:100%;
        width:100%
    }
</style>
    <div id="2cc952bbb93d485dabb5a72786611b77" class="chart-container" style="width:75%; height:75%; margin:auto; top:30px"></div>

    <script>
        var chart_2cc952bbb93d485dabb5a72786611b77 = echarts.init(
            document.getElementById('2cc952bbb93d485dabb5a72786611b77'), 'white', {renderer: 'canvas'});
        var option_2cc952bbb93d485dabb5a72786611b77 = {
    "baseOption": {
        "series": [
            {
                "type": "map",
                "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                "label": {
                    "show": false,
                    "margin": 8
                },
                "map": "\u65b0\u7586",
                "data": [
                    {
                        "value": 0
                    },
                    {
                        "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                        "value": 1.3
                    },
                    {
                        "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                        "value": 1.0
                    },
                    {
                        "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                        "value": 1.0
                    },
                    {
                        "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                        "value": 1.0
                    },
                    {
                        "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                        "value": 1.0
                    },
                    {
                        "name": "\u5410\u9c81\u756a\u5730\u533a",
                        "value": 1.0
                    }
                ],
                "roam": true,
                "aspectScale": 0.75,
                "nameProperty": "name",
                "selectedMode": false,
                "zoom": 1,
                "mapValueCalculation": "sum",
                "showLegendSymbol": false,
                "emphasis": {},
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "currentIndex": 0,
            "orient": "horizontal",
            "autoPlay": false,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "playInterval": 1000,
            "bottom": "-5px",
            "progress": {},
            "data": [
                2017,
                2018,
                2019,
                2020,
                2021,
                2022
            ]
        },
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 80,
            "text": [
                "High",
                "Low"
            ],
            "inRange": {
                "color": [
                    "#E0E0E0",
                    "#CE0000"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "hoverLink": true,
            "orient": "vertical",
            "padding": 5,
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 3.0
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 2.0
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 2.0
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 1.6
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.1
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 1.6
                        },
                        {
                            "name": "\u548c\u7530\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u54c8\u5bc6\u5730\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u5580\u4ec0\u5730\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u5854\u57ce\u5730\u533a",
                            "value": 1.3
                        },
                        {
                            "name": "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.6
                        },
                        {
                            "name": "\u65b0\u7586\u81ea\u6cbb\u533a",
                            "value": 3.5
                        },
                        {
                            "name": "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                            "value": 2.6
                        },
                        {
                            "name": "\u963f\u514b\u82cf\u5730\u533a",
                            "value": 2.4
                        },
                        {
                            "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                            "value": 1.9
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 4.0
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 2.2
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 1.5
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 2.0
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.8
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 5.0
                        },
                        {
                            "name": "\u548c\u7530\u5730\u533a",
                            "value": 1.6
                        },
                        {
                            "name": "\u54c8\u5bc6\u5730\u533a",
                            "value": 1.2
                        },
                        {
                            "name": "\u5580\u4ec0\u5730\u533a",
                            "value": 1.6
                        },
                        {
                            "name": "\u5854\u57ce\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 2.6
                        },
                        {
                            "name": "\u65b0\u7586\u81ea\u6cbb\u533a",
                            "value": 2.2
                        },
                        {
                            "name": "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                            "value": 8.8
                        },
                        {
                            "name": "\u963f\u514b\u82cf\u5730\u533a",
                            "value": 1.8
                        },
                        {
                            "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                            "value": 1.3
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 3.3
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 1.1
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 5.0
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 1.9
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 2.3
                        },
                        {
                            "name": "\u548c\u7530\u5730\u533a",
                            "value": 1.8
                        },
                        {
                            "name": "\u54c8\u5bc6\u5730\u533a",
                            "value": 1.2
                        },
                        {
                            "name": "\u5580\u4ec0\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u5854\u57ce\u5730\u533a",
                            "value": 1.0
                        },
                        {
                            "name": "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.9
                        },
                        {
                            "name": "\u65b0\u7586\u81ea\u6cbb\u533a",
                            "value": 2.1
                        },
                        {
                            "name": "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                            "value": 10.8
                        },
                        {
                            "name": "\u963f\u514b\u82cf\u5730\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                            "value": 1.5
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 1.4
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 1.3
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 2.2
                        },
                        {
                            "name": "\u548c\u7530\u5730\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u54c8\u5bc6\u5730\u533a",
                            "value": 1.2
                        },
                        {
                            "name": "\u5580\u4ec0\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u5854\u57ce\u5730\u533a",
                            "value": 2.0
                        },
                        {
                            "name": "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 2.1
                        },
                        {
                            "name": "\u65b0\u7586\u81ea\u6cbb\u533a",
                            "value": 1.5
                        },
                        {
                            "name": "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                            "value": 6.8
                        },
                        {
                            "name": "\u963f\u514b\u82cf\u5730\u533a",
                            "value": 2.1
                        },
                        {
                            "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                            "value": 1.1
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 2.9
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 1.5
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 1.5
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 1.2
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u548c\u7530\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u54c8\u5bc6\u5730\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u5580\u4ec0\u5730\u533a",
                            "value": 1.7
                        },
                        {
                            "name": "\u5854\u57ce\u5730\u533a",
                            "value": 1.1
                        },
                        {
                            "name": "\u5df4\u97f3\u90ed\u695e\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.9
                        },
                        {
                            "name": "\u65b0\u7586\u81ea\u6cbb\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u660c\u5409\u56de\u65cf\u81ea\u6cbb\u5dde",
                            "value": 6.1
                        },
                        {
                            "name": "\u963f\u514b\u82cf\u5730\u533a",
                            "value": 1.9
                        },
                        {
                            "name": "\u963f\u52d2\u6cf0\u5730\u533a",
                            "value": 1.8
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        },
        {
            "legend": [
                {
                    "data": [
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf"
                    ],
                    "selected": {
                        "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf": true
                    },
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "series": [
                {
                    "type": "map",
                    "name": "\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "map": "\u65b0\u7586",
                    "data": [
                        {
                            "value": 0
                        },
                        {
                            "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                            "value": 1.3
                        },
                        {
                            "name": "\u4f0a\u7281\u54c8\u8428\u514b\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u514b\u5b5c\u52d2\u82cf\u67ef\u5c14\u514b\u5b5c\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u514b\u62c9\u739b\u4f9d\u5e02",
                            "value": 1.0
                        },
                        {
                            "name": "\u535a\u5c14\u5854\u62c9\u8499\u53e4\u81ea\u6cbb\u5dde",
                            "value": 1.0
                        },
                        {
                            "name": "\u5410\u9c81\u756a\u5730\u533a",
                            "value": 1.0
                        }
                    ],
                    "roam": true,
                    "aspectScale": 0.75,
                    "nameProperty": "name",
                    "selectedMode": false,
                    "zoom": 1,
                    "mapValueCalculation": "sum",
                    "showLegendSymbol": false,
                    "emphasis": {},
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a\u6bcf\u4e0a\u5e02\u516c\u53f8\u5e73\u5747\u62db\u8058\u6570\u91cf",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "30%",
                    "top": "10",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": 0,
                "max": 80,
                "text": [
                    "High",
                    "Low"
                ],
                "inRange": {
                    "color": [
                        "#E0E0E0",
                        "#CE0000"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "hoverLink": true,
                "orient": "vertical",
                "padding": 5,
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            },
            "color": [
                "#5470c6",
                "#91cc75",
                "#fac858",
                "#ee6666",
                "#73c0de",
                "#3ba272",
                "#fc8452",
                "#9a60b4",
                "#ea7ccc"
            ]
        }
    ]
};
        chart_2cc952bbb93d485dabb5a72786611b77.setOption(option_2cc952bbb93d485dabb5a72786611b77);
    </script>
    <script>
         //窗口大小变化时候，进行刷新页面操作，防止样式混乱
         var x=window.innerWidth;
     function resizeFresh(){
         if(x!=window.innerWidth)
             location.reload();
     }
    </script>
</body>
</html>

