<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="header">
        <a href="index.html" class="logo">
            <h1>SIDE</h1>
        </a>
        <nav class="navbar">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">全国招聘数据</a></li>
                <li><a href="#">省级招聘数据</a>
                    <ul class="hide">
                        <li><a href="#">广东省</a></li>
                        <li><a href="#">广西省</a></li>
                        <li><a href="#">福建省</a></li>
                    </ul>
                </li>
                <li><a href="#">市级招聘数据</a>
                    <ul class="hide">
                        <li><a href="#">深圳市</a></li>
                        <li><a href="#">广州市</a></li>
                        <li><a href="#">珠海市</a></li>
                    </ul>
                </li>
                <li><a href="#">一线/新一线</a></li>
                <li><a href="#">增长最快</a></li>
                <li><a href="#">下降最快</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>展示导航栏中，返回的HTML信息内容</h1>
    </div>
</body>
</html>
