<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="element_css" />
    <link rel="stylesheet" href="cdc_css" />
    <link rel="shortcut icon" href="icon" />
    <title>境外升学案例查询</title>
    <style>
      body {
        background-image: url(background);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
      }
      #app {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
      }
      h1 {
        text-align: center;
        font-size: 40px;
        margin-top: 150px;
      }
      .add-btn {
        width: 32%;
        text-align: center;
      }
      .body {
        margin-top: 50px;
      }
      .search {
        margin-top: 20px;
      }
      .el-form-item{
        width: 100%;
      }
      .item .el-form-item__label{
        color: black;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- 头部 -->
      <div class="head" style="width: 70%;text-align: center;margin: 30px auto;">
        <h1 style="color:black">境外升学案例查询</h1>
      </div>
      <!-- 功能选择框 -->
      <div class="choose" style="width: 70%;text-align: center;margin: 30px auto;">
        <el-select v-model="searchInfo.choose" placeholder="请选择功能" style="width: 30%">
          <el-option @click.native="handleChoose(item)" v-for="item in options7" :key="item.label" :label="item.label" :value="item.value"></el-option>
        </el-select>
      </div>
      <!-- 表单输入框 -->
      <div class="form-1" v-show="showGroup_1" style="width: 70%;text-align: center;margin: 30px auto;">
        <el-form
          :rules="rulers"
          :model="searchInfo"
          ref="ruleForm"
          label-position="right"
          size="mini"
        >
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item prop="major" label="本科专业" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.major" placeholder="请选择本科专业" style="width: 100%">
                  <el-option v-for="item in options4" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="gpa" label="平均绩点" label-width="30%" style="width: 100%" class="item">
                <el-input v-model="searchInfo.gpa" placeholder="请输入平均绩点" type="number" :step="0.01" :min="0"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="internship_count" label="实习次数" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.internship_count" placeholder="请选择实习次数" style="width: 100%">
                  <el-option v-for="item in options0" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="internship_total" label="实习时长" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.internship_total" placeholder="请选择实习时长" style="width: 100%">
                  <el-option v-for="item in options3" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="standard_subject" label="标化科目" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.standard_subject" placeholder="请选择标化科目" style="width: 100%" @change="standardSubjectChange">
                  <el-option v-for="item in options1" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="standard_score" label="标化成绩" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.standard_score" placeholder="请选择标化成绩" style="width: 100%">
                  <el-option v-for="item in options5" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="language_subject" label="语言科目" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.language_subject" placeholder="请选择语言科目" style="width: 100%" @change="languageSubjectChange">
                  <el-option v-for="item in options2" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="language_score" label="语言成绩" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.language_score" placeholder="请输入语言成绩" style="width: 100%">
                  <el-option v-for="item in options6" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="graduate" label="毕业年份" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.graduate" placeholder="请选择毕业年份" style="width: 100%">
                  <el-option v-for="item in options8" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-1" v-show="showGroup_1" style="width: 70%;text-align: center;margin: 30px auto;">
        <el-button type="primary" @click="submitForm('ruleForm')" class="add-btn" plain size="mini">提交</el-button>
      </div>
      <div class="form-2" v-show="showGroup_2" style="width: 70%;text-align: center;margin: 30px auto;">
        <el-form
          :rules="rulers"
          :model="searchInfo"
          ref="ruleForm"
          label-position="right"
          size="mini"
        >
          <el-row :gutter="30">
            <el-col :span="10">
              <el-form-item prop="target_school" label="留学学校" label-width="30%" style="width: 100%" class="item">
                <el-autocomplete
                  v-model="searchInfo.target_school"
                  placeholder="请输入留学学校（英文）"
                  type="text"
                  style="width: 100%;" 
                  debounce="300"
                  :fetch-suggestions="fuzzySearchTargetSchool"
                  :trigger-on-focus="false"
                  @select="handleSelect"
                >
                </el-autocomplete>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="target_major" label="留学专业" label-width="30%" style="width: 100%" class="item">
                <el-input
                  v-model="searchInfo.target_major"
                  placeholder="请输入留学专业（英文）"
                  type="text"
                  style="width: 100%;"
                  debounce="300"
                  :fetch-suggestions="fuzzySearchTargetMajor"
                  :trigger-on-focus="false"
                  @select="handleSelect"
                >
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="target_area" label="留学地区" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.target_area" placeholder="请选择留学地区" style="width: 100%" @change="languageSubjectChange">
                  <el-option v-for="item in options9" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="target_graduate" label="留学年份" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.target_graduate" placeholder="请选择留学年份" style="width: 100%" @change="languageSubjectChange">
                  <el-option v-for="item in options8" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="standard_subject" label="标化科目" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.standard_subject" placeholder="请选择标化科目" style="width: 100%" @change="standardSubjectChange">
                  <el-option v-for="item in options1" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="standard_score" label="标化成绩" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.standard_score" placeholder="请选择标化成绩" style="width: 100%">
                  <el-option v-for="item in options5" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="language_subject" label="语言科目" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.language_subject" placeholder="请选择语言科目" style="width: 100%" @change="languageSubjectChange">
                  <el-option v-for="item in options2" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="10">
              <el-form-item prop="language_score" label="语言成绩" label-width="30%" style="width: 100%" class="item">
                <el-select v-model="searchInfo.language_score" placeholder="请输入语言成绩" style="width: 100%">
                  <el-option v-for="item in options6" :key="item.label" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-2" v-show="showGroup_2" style="width: 70%;text-align: center;margin: 30px auto;">
        <el-button type="primary" @click="submitForm('ruleForm')" class="add-btn" plain size="mini">提交</el-button>
      </div>
      <!-- 主体内容 -->
      <div class="body-1" v-show="showGroup_1" style="width: 70%;text-align: center;margin: 30px auto;">
        <template>
          <el-table
            v-loading="loading"
            stripe
            border
            :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
            style="width: 100%"
            size="mini"
          >
            <el-table-column prop="graduate" label="年份" min-width="20%"></el-table-column>
            <el-table-column prop="gpa" label="绩点" min-width="20%"></el-table-column>
            <el-table-column prop="standard_score" label="标化成绩" min-width="20%"></el-table-column>
            <el-table-column prop="language_score" label="语言成绩" min-width="20%"></el-table-column>
            <el-table-column prop="target_school" label="学校" min-width="30%"></el-table-column>
            <el-table-column prop="target_major" label="专业" min-width="40%"></el-table-column>
            <el-table-column prop="target_area" label="地区" min-width="20%"></el-table-column>
          </el-table>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            style="margin-top: 10px"
          >
          </el-pagination>
        </template>
      </div>
      <div class="body-2" v-show="showGroup_2" style="width: 70%;text-align: center;margin: 30px auto;">
        <template>
          <el-table
            v-loading="loading"
            stripe
            border
            :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
            style="width: 100%"
            size="mini"
          >
            <el-table-column prop="major" label="本科专业" min-width="25%"></el-table-column>
            <el-table-column prop="gpa" label="绩点" min-width="15%"></el-table-column>
            <el-table-column prop="internship_count" label="实习次数" min-width="15%"></el-table-column>
            <el-table-column prop="standard_subject" label="标化科目" min-width="15%"></el-table-column>
            <el-table-column prop="standard_score" label="标化成绩" min-width="15%"></el-table-column>
            <el-table-column prop="language_subject" label="语言科目" min-width="15%"></el-table-column>
            <el-table-column prop="language_score" label="语言成绩" min-width="15%"></el-table-column>
            <el-table-column prop="target_school" label="留学学校" min-width="40%"></el-table-column>
            <el-table-column prop="target_major" label="留学专业" min-width="40%"></el-table-column>
          </el-table>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            style="margin-top: 10px"
          >
          </el-pagination>
        </template>
      </div>
    </div>
    <!-- 页脚 -->
    <footer>
      <div class="wrap">
        <div class="contact-info">
            <span>
              <img src="tel_png">
              <p>TEL.0755-23518560</p>
            </span>
            <span>
              <img src="address_png">
              <p>深圳市龙岗区龙翔大道2001号香港中文大学（深圳）TA栋402-403</p>
            </span>
            <span>
              <img src="mail_png" width="16px">
              <p><a href="mailto:careersme@cuhk.edu.cn" style="color:#fff">careersme@cuhk.edu.cn</a></p>
            </span>
        </div>
        <div class="footer-nav">
          <ul>
              <!-- <li><a href="" ></a></li> -->
              <li><a href="https://library.cuhk.edu.cn">图书馆</a></li>
              <span class="line"></span>
              <li><a href="https://www.cuhk.edu.cn/research">科研处</a></li>
              <span class="line"></span>
              <li><a href="https://oal.cuhk.edu.cn">学术交流处</a></li>
              <span class="line"></span>
              <li><a href="https://osa.cuhk.edu.cn">学生事务处</a></li>
              <span class="line"></span>
              <li><a href="http://efoundation.cuhk.edu.cn/">捐赠</a></li>
          </ul>
        </div>
        <div class="copyright">
          <div class="top">
            <span>隐私政策</span>
            <span class="line bgw"></span>
            <span>免责声明</span>
            <span class="line bgw"></span>
          </div>
          <span class="mt">Copyright © 香港中文大学（深圳）<br/>经管学院 2022 版权所有</span>
        </div>
      </div>
    </footer>
    <script src="vue"></script>
    <script src="element"></script>
    <script src="axios"></script>
    <script>
      new Vue({
        el: "#app",
        data: function () {
          return {
            options0: [
              {
                label: "",
                value: "",
              },
              {
                label: "0次",
                value: "0次",
              },
              {
                label: "1次",
                value: "1次",
              },
              {
                label: "2次",
                value: "2次",
              },{
                label: "3次",
                value: "3次",
              },{
                label: "4次",
                value: "4次",
              },{
                label: "5次及以上",
                value: "5次及以上",
              },
            ],
            options1: [
              {
                label: "",
                value: "",
              },
              {
                label: "GMAT",
                value: "GMAT",
              },
              {
                label: "GRE",
                value: "GRE",
              },
            ],
            options2: [
              {
                label: "",
                value: "",
              },
              {
                label: "IELTS",
                value: "IELTS",
              },
              {
                label: "TOEFL",
                value: "TOEFL",
              },
            ],
            options3: [
              {
                label: "",
                value: "",
              },
              {
                label: "0小时",
                value: "0小时",
              },
              {
                label: "1-80小时",
                value: "1-80小时",
              },
              {
                label: "81-160小时",
                value: "81-160小时",
              },
              {
                label: "161-320小时",
                value: "161-320小时",
              },
              {
                label: "321-540小时",
                value: "321-540小时",
              },
              {
                label: "540小时以上",
                value: "540小时以上",
              },
            ],
            options4: [
              {
                label: "",
                value: "",
              },
              {
                label: "市场营销",
                value: "市场营销",
              },
              {
                label: "金融学",
                value: "金融学",
              },
              {
                label: "会计学",
                value: "会计学",
              },
              {
                label: "国际商务-环球商务管理",
                value: "国际商务-环球商务管理",
              },
              {
                label: "国际商务-环球供应链管理",
                value: "国际商务-环球供应链管理",
              },
              {
                label: "国际商务-环球金融管理",
                value: "国际商务-环球金融管理",
              },
              {
                label: "国际商务-环球商务与创新",
                value: "国际商务-环球商务与创新",
              },
              {
                label: "经济学-经济科学",
                value: "经济学-经济科学",
              },
              {
                label: "经济学-应用经济学",
                value: "经济学-应用经济学",
              },
              {
                label: "经济学-国际商务经济学",
                value: "经济学-国际商务经济学",
              },
              {
                label: "金融工程-金融科技",
                value: "金融工程-金融科技",
              },
              {
                label: "金融工程-量化金融",
                value: "金融工程-量化金融",
              },
            ],
            options5: [],
            options6: [],
            options7: [
              {
                label: "根据成绩检索目标院校",
                value: "根据成绩检索目标院校",
              },
              {
                label: "根据目标院校检索成绩",
                value: "根据目标院校检索成绩",
              },
            ],
            options8: [
              {
                label: "",
                value: "",
              },
              {
                label: "2018",
                value: "2018",
              },{
                label: "2019",
                value: "2019",
              },{
                label: "2020",
                value: "2020",
              },{
                label: "2021",
                value: "2021",
              },{
                label: "2022",
                value: "2022",
              },
            ],
            options9: [
              {
                label: "中国境内",
                value: "中国境内",
              },{
                label: "港澳地区",
                value: "港澳地区",
              },{
                label: "新加坡",
                value: "新加坡",
              },{
                label: "美国",
                value: "美国",
              },{
                label: "英国",
                value: "英国",
              },{
                label: "澳新",
                value: "澳新",
              },{
                label: "加拿大",
                value: "加拿大",
              },{
                label: "法国",
                value: "法国",
              },{
                label: "意大利",
                value: "意大利",
              },{
                label: "日韩",
                value: "日韩",
              },{
                label: "其他国家和地区",
                value: "其他国家和地区",
              }
            ],
            searchInfo: {
              action: "",
              gpa: "",
              major: "",
              graduate: "",
              internship_count: "",
              internship_total: "",
              standard_subject: "",
              standard_score: "",
              language_subject: "",
              language_score: "",
              target_school: "",
              target_major: "",
              target_area: "",
              target_graduate: "",
              choose: "根据成绩检索目标院校"
            },
            total: 0,
            loading: false,
            showGroup_1: true,
            showGroup_2: false,
            currentPage: 1,
            pageSize: 10,
            tableData: [],
            rulers: {
              gpa: [
                {
                  required: true,
                  message: "请输入平均绩点",
                  trigger: "blur" },
              ],
              major: [
                {
                  required: true,
                  message: "请输入专业",
                  trigger: "blur" },
              ],
              internship_count: [
                {
                  required: false,
                  message: "请选择实习次数",
                  trigger: "blur",
                },
              ],
              internship_total: [
                {
                  required: false,
                  message: "请选择实习时长",
                  trigger: "blur",
                },
              ],
              standard_subject: [
                {
                  required: false,
                  message: "请选择标化科目",
                  trigger: "blur",
                },
              ],
              standard_score: [
                {
                  required: false,
                  message: "请输入标化成绩",
                  trigger: "blur",
                },
              ],
              language_subject: [
                {
                  required: false,
                  message: "请选择语言科目",
                  trigger: "blur",
                },
              ],
              language_score: [
                {
                  required: false,
                  message: "请输入语言成绩",
                  trigger: "blur",
                },
              ],
            }
          };
        },
        methods: {
          async fuzzySearchTargetSchool(queryString, cb) {
            if(!queryString.trim()) return
            const res = await axios.get(`/sme_cdc/fuzzy_search_target_school?tar=${queryString}`)
            if(res.data && res.data.length){
              // 调用 callback 返回建议列表的数据
              const results = []
              res.data.map(item => {
                results.push({value: item})
              })
              cb(results);
            }
          },
          async fuzzySearchTargetMajor(queryString, cb) {
            if(!queryString.trim()) return
            const res = await axios.get(`/sme_cdc/fuzzy_search_target_major?tar=${queryString}`)
            if(res.data && res.data.length){
              // 调用 callback 返回建议列表的数据
              const results = []
              res.data.map(item => {
                results.push({value: item})
              })
              cb(results);
            }
          },
          handleSelect(item) {
            console.log(item);
          },
          standardSubjectChange(name) {
            this.searchInfo.standard_score = "";
            if (name == "GMAT") {
              this.options5 = [
                {
                  label: "",
                  value: "",
                },
                {
                  label: "<650",
                  value: "<650",
                },
                {
                  label: "650-680",
                  value: "650-680",
                },
                {
                  label: "690-710",
                  value: "690-710",
                },
                {
                  label: ">710",
                  value: ">710",
                },
              ];
            } else if (name == "GRE") {
              this.options5 = [
                {
                  label: "",
                  value: "",
                },
                {
                  label: "<310",
                  value: "<310",
                },
                {
                  label: "310-319",
                  value: "310-319",
                },
                {
                  label: "320-324",
                  value: "320-324",
                },
                {
                  label: "325-329",
                  value: "325-329",
                },
                {
                  label: ">=330",
                  value: ">=330",
                },
              ];
            }
          },
          languageSubjectChange(name) {
            this.searchInfo.language_score = "";
            if (name == "IELTS") {
              this.options6 = [
                {
                  label: "",
                  value: "",
                },
                {
                  label: "<6",
                  value: "<6",
                },
                {
                  label: "6",
                  value: "6",
                },
                {
                  label: "6.5",
                  value: "6.5",
                },
                {
                  label: "7",
                  value: "7",
                },
                {
                  label: "7.5",
                  value: "7.5",
                },
                {
                  label: ">=8",
                  value: ">=8",
                },
              ];
            } else if (name == "TOEFL") {
              this.options6 = [
                {
                  label: "",
                  value: "",
                },
                {
                  label: "<95",
                  value: "<95",
                },
                {
                  label: "95-99",
                  value: "95-99",
                },
                {
                  label: "100-104",
                  value: "100-104",
                },
                {
                  label: "105-109",
                  value: "105-109",
                },
                {
                  label: ">=110",
                  value: ">=110",
                },
              ];
            }
          },
          handleChoose(item) {
            // console.log(item.value)
            if (item.value == "根据成绩检索目标院校") {
              this.showGroup_1 = true;
              this.showGroup_2 = false;
              this.searchInfo.action = "by_grade";
              this.tableData = [];
              this.searchInfo.standard_subject = "";
              this.searchInfo.standard_score = "";
              this.searchInfo.language_subject = "";
              this.searchInfo.language_score = "";
            } else if (item.value == "根据目标院校检索成绩") {
              this.showGroup_1 = false;
              this.showGroup_2 = true;
              this.searchInfo.action = "by_school";
              this.tableData = [];
              this.searchInfo.standard_subject = "";
              this.searchInfo.standard_score = "";
              this.searchInfo.language_subject = "";
              this.searchInfo.language_score = "";
            } else {
              this.showGroup_1 = true;
              this.showGroup_2 = false;
              this.searchInfo.action = "by_grade";
              this.tableData = [];
              this.searchInfo.standard_subject = "";
              this.searchInfo.standard_score = "";
              this.searchInfo.language_subject = "";
              this.searchInfo.language_score = "";
            }
          },
          upload() {
            console.log(this.searchInfo);
          },
          submitForm(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                let par = this.searchInfo;
                console.log(this.searchInfo.action);
                axios
                  //params:可传递多个参数,固定写法,不能改,否则参数传递失败
                  .get(
                    `http://10.26.9.1:8000/sme_cdc/search/?action=${this.searchInfo.action}&gpa=${this.searchInfo.gpa}&major=${this.searchInfo.major}&graduate=${this.searchInfo.graduate}&internship_count=${this.searchInfo.internship_count}&internship_total=${this.searchInfo.internship_total}&standard_subject=${this.searchInfo.standard_subject}&standard_score=${this.searchInfo.standard_score}&language_subject=${this.searchInfo.language_subject}&language_score=${this.searchInfo.language_score}&target_school=${this.searchInfo.target_school}&target_major=${this.searchInfo.target_major}&target_area=${this.searchInfo.target_area}&target_graduate=${this.searchInfo.target_graduate}`
                  )
                  .then((res) => {
                    if (res.data.code == 200) {
                      this.$message({
                        message: "提交成功",
                        type: "success",
                      });
                      this.loading = true;
                    }
                    this.tableData = res.data.data;
                    this.total = res.data.data.length;
                    this.loading = false;
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              } else {
                //失败
                return false;
              }
            });
          },
          //多少条一页
          getPage(num) {
            for (let i = 0; i < num; i++) {
              this.tableData.push(this.tableData2[i]);
            }
          },
          //下一页
          handleSizeChange(val) {
            this.pageSize = val;
          },
          handleCurrentChange(val) {
            this.currentPage = val;
          },
        },
      });
    </script>
  </body>
</html>
